## LaTeX temporary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.dvi
*.fls
*.xdv
*.run.xml
*.bcf
*.lof
*.lot
*.idx
*.ind
*.ilg
*.glo
*.gls
*.glg
*-blx.bib
